* {
  font-family: 'Encode Sans Condensed';

}

/* ROOT */
#app {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: black;
}

/* LANDING PAGE ROOT */

#register-container {
  background-color:#288B50;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#inner-register-cont {
  /* border: 1px solid yellow; */
  height: 70%;
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#text-container {
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid violet; */
}

#landing-header {
  font-size: 3.8em;
}

#register-btn-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.landing-text {
  color: white;
  font-family: 'Encode Sans Condensed';
  font-size: 1.4em;
}

.register-btn {
  height: 50px;
  width: 40%;
  color: black;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 20px;
}

.register-btn:hover{
  background-color: #FF9B64; 
  border: 1px solid #FF9B64;
}




/* LANDING PAGE NAVIGATION */
#nav-container {
  background-color: #288B50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}

#nav-btns {
  display:flex;
  width: 20%;
  justify-content: space-evenly;
}

.lnd-nav-btn {
  color: white;
}

/* WASTE TRANSFORMER REGISTER */
#wt-container {
  height: 90vh;
  width:100%;
  background-color:  #288B50;
  display: flex;
  justify-content: center;
}

#wt-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 45%;
}

#wt-text-cont {
  /* border: 1px solid white; */
  height:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wt-form-cont {
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:20%;
  width: 70%;
}

#wt-form{
  height: 80%;
  width: 100%;
}

#wt-btns-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height:20%;
  width: 100%;

}

#wt-btns-inner{
  display: flex;
  justify-content: space-between;
  width:50%;
}



.wt-register-btn {
  height: 60px;
  width:120px;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 1.1em;
}

.wt-register-btn:hover {
  background-color: #FF9B64; 
  border: 1px solid #FF9B64;
}




/* COMPANY INFO */
#company-info-container{
  height: 100%;
}

#company-info-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#confirm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.companyinfo-inputs-cont{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  font-size: .7em;
}

.register-inputs {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: 70%;
  border: none;
  border-bottom: 1px solid gray;

}

.register-inputs:focus{
  outline: none;

}

.confirm-field {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  width: 100%;
}

.confirm-label {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.confirm-value {
  text-align: center;
  width: 55%;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}





/* LOGIN */

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

#login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  border: 1px solid black;
}

#login-input-main {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

#login-form {
  display:flex;
  flex-direction: column;
  height: 10%;
  justify-content: space-evenly;
}


/* DASHBOARD PAGE */
#dashboard-container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

/* DASHBOARD NAVIGATION */
#dash-nav-container {
  display: flex;
  height: 100vh;
}

#side-nav {
  background-color: #288B50;
  height: 100%;
  width: 8%;
}

#top {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

#mid {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
}

#btm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 17%;
}

#expanded {
  background-color: #175932;
  height: 100%;
  width: 18%;
}

.active {
  border-left: 4px solid #FF9B64;
  border-right: 2px solid #175932;
  background-color: #175932;
  width: 100%;
}

.icons {
  display: flex;
  height: 13%;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.btm-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 95%;
}


