* {
  font-family: 'Encode Sans Condensed';
  cursor: default;

}

/* ROOT */
#app {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: black;
}

/* LANDING PAGE ROOT */

#register-container {
  background-color:#288B50;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#inner-register-cont {
  /* border: 1px solid yellow; */
  height: 70%;
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#text-container {
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid violet; */
}

#landing-header {
  font-size: 3.8em;
}

#register-btn-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.landing-text {
  color: white;
  font-family: 'Encode Sans Condensed';
  font-size: 1.4em;
}

.register-btn {
  height: 50px;
  width: 40%;
  color: black;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 20px;
  background-color: #FF9B64; 
  border: 1px solid #FF9B64;
}

.register-btn:hover{
  background-color: white;
}




/* LANDING PAGE NAVIGATION */
#nav-container {
  background-color: #288B50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}

#nav-btns {
  display:flex;
  width: 20%;
  justify-content: space-evenly;
}

.lnd-nav-btn {
  color: white;
}

/* WASTE TRANSFORMER REGISTER */
#wt-container {
  height: 90vh;
  width:100%;
  background-color:  #288B50;
  display: flex;
  justify-content: center;
}

#wt-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 45%;
}

#wt-text-cont {
  /* border: 1px solid white; */
  height:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wt-form-cont {
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:20%;
  width: 70%;
}

#wt-form{
  height: 80%;
  width: 100%;
}

#wt-btns-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height:20%;
  width: 100%;

}

#wt-btns-inner{
  display: flex;
  justify-content: space-between;
  width:50%;
}



.wt-register-btn {
  height: 60px;
  width:120px;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 1.1em;
  
}

.wt-register-btn:hover {
  background-color: #FF9B64; 
  border: 1px solid #FF9B64;
}




/* COMPANY INFO */
#company-info-container{
  height: 100%;
}

#company-info-form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#confirm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}
option {
  text-align: left;
  /* reset to left*/
}

.companyinfo-inputs-cont{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  font-size: .7em;
}

.register-inputs {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: 70%;
  border: none;
  border-bottom: 1px solid gray;

}

.register-inputs:focus{
  outline: none;

}

.confirm-field {
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid black; */
  width: 100%;
}

.confirm-label {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.confirm-value {
  text-align: center;
  width: 55%;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
}





/* LOGIN */

#login-container {
  background-color: #288B50;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  width: 100%;
}

#login-input-main {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 50%;

}

#login-input-container {
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 50%;
  width: 50%;
}



/* DASHBOARD PAGE */
#dashboard-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

/* DASHBOARD NAVIGATION */
#dash-nav-container {
  display: flex;
  height: 100%;
  width: 20%;
}

#side-nav {
  background-color: #288B50;
  height: 100%;
  width: 40%;
}

#top {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

#mid {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
}

#btm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 24%;
}

#expanded {
  background-color: #175932;
  height: 100%;
  width: 100%;
}

.active {
  border-left: 4px solid #FF9B64;
  border-right: 2px solid #175932;
  background-color: #175932;
  width: 100%;
}

.icons {
  display: flex;
  height: 13%;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.btm-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 95%;
}

/* DASHBOARD INNER NAVIGATION */

#nav-inner-top{
  height: 15%;
}

#nav-inner-mid{
  height: 60%;
}

#nav-inner-btm{
  height: 24%;
}

#nav-inner-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 13%;

}

#nav-inner-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 26%;
}

.nav-inner-btns {
  letter-spacing: .07em;

  color: white;
  font-size: 1.1em;
  font-weight: bold;
}
.nav-inner-btns:hover {
  border-bottom: 3px solid #FF9B64 !important;
}

/* DASHBOARD TEXT WHEN HOVERED */

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 0.6em;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 75%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* DASHBOARD HOME */

#home-container {
  height: 100%;
  width: 100%;
}

#home-contents-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#welcome-header-container {
  display: flex;
  justify-content: space-between;
  height: 7%;
  width: 100%;
}

#welcome-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

#welcome-header {
  color :#288B50;
  font-size: 1.1em;
}

#welcome-header-alerts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}


/* DASHBOARD OVERVIEW */
#overview-container {
  height: 53%;
}

#overview-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 21%;
}

#overview-sort-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 32%;
}

#dash-component-header {
  font-size: 2.3em;
  letter-spacing: .05em;
  font-weight: bold;

}

.overview-category-choices {
  color: gray;
  font-size: 1em;
}

.active-overview {
  border-bottom: 3px solid #FF9B64;
  font-size: 1.2em;
  color: black;
}

/* DASHBOARD OVERVIEW */

#overview-contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

#dashboard-overview-component{
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  border-radius: 15px;
  display: flex;
  height: 98%;
  width: 92%;
}

#overview-avail-cont {
  height:100%;
  width:33.3%;
}

#overview-comp-cont {
  height:100%;
  width:33.3%;
}

#overview-incomp-cont {
  height:100%;
  width:33.3%;
}

/* DASHBOARD NEW PICK-UP REQUEST */

#pickup-content-container {
  height: 40%;
  width: 100%;
}

#pickup-header-container {
  display: flex;
  justify-content: space-between;
  height:20%;
}

#pickup-header-left {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 45%;
}

#pickup-inner-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:90%;
  height: 100%;
}

#pickup-header-text {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .05em;
}

#pickup-content-button {
  border-radius: 20px;
  border: 1px solid #FF9B64;
  background-color: #FF9B64;
  width: 25%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

#pickup-map-link {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
}

#pickup-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100%;
}

#pickup-contents-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

#pickup-overview-component{
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  border-radius: 15px;
  height: 98%;
  width: 92%;
}


/* UPCOMING/COMPLETE/CANCELED COMPONENTS */

#overview-circular-iconbg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:1px solid rgb(236, 231, 231);
  background-color: rgb(236, 231, 231);
  height: 80%;
  width: 40%;
}

.overview-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.overview-content-header {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.overview-header-icon {
  height: 100%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.overview-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:50%;
}

.overview-data-container {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* padding: ; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
.overview-data {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.overview-inner-div {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.data {
  /* border: .01em solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(190, 184, 184, 0.5);
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  height: 90%;
}