/* ROOT */
#app {
  border: 1px solid black;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: black;
}

/* DASHBOARD PAGE */
#dashboard-container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

/* DASHBOARD NAVIGATION */
#dash-nav-container {
  display: flex;
  height: 100vh;
}

#side-nav {
  background-color: #288B50;
  height: 100%;
  width: 8%;
}

#top {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

#mid {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
}

#btm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 17%;
}

#expanded {
  background-color: #175932;
  height: 100%;
  width: 18%;
}

.active {
  border-left: 4px solid #FF9B64;
  border-right: 2px solid #175932;
  background-color: #175932;
  width: 100%;
}

.icons {
  display: flex;
  height: 13%;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.btm-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 95%;
}

/* LANDING PAGE NAVIGATION */
#nav-container {
  background-color: #288B50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}

#nav-btns {
  display:flex;
  width: 20%;
  justify-content: space-evenly;
}

.lnd-nav-btn {
  color: white;
}

/* LOGIN */

#login-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

#login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  border: 1px solid black;
}

#login-input-main {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

#login-form {
  display:flex;
  flex-direction: column;
  height: 10%;
  justify-content: space-evenly;
}
