
#nav-container {
  display: flex;
  height: 100vh;
}

#side-nav {
  background-color: #3f7d9f;
  height: 100%;
  width: 5%;
}

#top {
  height: 15%;
}

#mid {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#btm {
  height: 15%;
}

#expanded {
  background-color: #4b9bc3;
  height: 100%;
  width: 20%;
}

.active {
  border-left: 4px solid yellow;
  background-color: #4b9bc3;
}

.icons {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
}

